/*@import '~antd/dist/antd.css';*/

body {
    min-width: 1280px;
}

.header {
    position: fixed;
    width: 100%;
}

.ant-layout-header {
    height: 60px;
    line-height: 60px;
    background-color: #FFFFFF!important;
    padding:  0 37px;
}

.ant-layout-content {
   height: 100%;
}

.ant-menu-dark.ant-menu-inline {
    padding-bottom: 70px;
}

.sub-nav {
    height: 50px;
    line-height: 50px;
    background-color: #FFFFFF;
    padding-left: 20px;
    margin-bottom: 20px;
    box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.sub-nav span {
    font-size: 16px;
    color: #333333;
    font-weight:400;
}

.sub-nav span:last-child {
    min-width: 86px;
    width: auto;
    height:30px;
    padding: 0 16px;
    line-height: 30px;
    display: inline-block;
    text-align: center;
    background:rgba(255,255,255,1);
    border:1px solid rgba(24,144,255,1);
    border-radius:15px;
    color: #1890FF;
}

.shadow {
    box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.1);
}


.clearfix:before,.clearfix:after{
    content:"";
    display:table;
}
.clearfix:after{
    clear:both;
}
.clearfix{
    *zoom:1;
}


.ant-pagination.ant-table-pagination {
    margin-right: 10px;
}

/*定义路由切换动画*/
.example-enter {
    opacity: 0.01;
}

.example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.example-leave {
    opacity: 1;
}

.example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

/*.ant-table td { white-space: nowrap; }*/
.col-sql{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    width: 200px;
}

.ant-table-pagination.ant-pagination {
    margin-right: 10px!important;
}

.ant-pagination-options-quick-jumper {
    vertical-align: baseline!important;
}

.db {
    display: inline-block;
}

.db-30 {
    display: inline-block;
    margin-left: 30px;
}

.ant-tabs-bar.ant-tabs-top-bar.ant-tabs-card-bar{
    margin-left: 5px;
}

.btn-group {
    margin-right: 5px;
}

.long-text {
    width: 500px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
}