.userInfo {
    float: right;
    margin-right: 10px;
    height: 60px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    border-bottom: 1px solid #cccccc;
    box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.header .logo {
    cursor: pointer;
    width: 177px;
    position: relative;
    float: left;
}

.header .bread-nav {
    background: url(../asset/img/bread-icon.png) no-repeat center;
    display: inline-block;
    width: 24px;
    height: 19px;
    vertical-align: middle;
    margin-left: 57px;
    transition: all .5s;
    cursor: pointer;
}

.header .logo:before {
    content: '';
    width: 30px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -250px;
    background: linear-gradient(0deg,rgba(255,255,255,0),rgba(255,255,255,.2) 50%,rgba(255,255,255,.5));
    transform: skew(-25deg);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
    -webkit-animation: move 1s 1;
    -moz-animation: move 1s 1;
    animation: move 1s 1;
}

@keyframes move {
    from {
        left: -250px;
    }
    to {
        left: 177px;
    }
}

/*@keyframes move {*/
    /*0% {*/
        /*transform: scale(1);*/
        /*transform: scale(1)*/
    /*}*/

    /*10%,20% {*/
        /*transform: scale(0.9) rotate(-3deg);*/
        /*transform: scale(0.9) rotate(-3deg)*/
    /*}*/

    /*30%,50%,70%,90% {*/
        /*transform: scale(1.1) rotate(3deg);*/
        /*transform: scale(1.1) rotate(3deg)*/
    /*}*/

    /*40%,60%,80% {*/
        /*transform: scale(1.1) rotate(-3deg);*/
        /*transform: scale(1.1) rotate(-3deg)*/
    /*}*/

    /*100% {*/
        /*transform: scale(1) rotate(0);*/
        /*transform: scale(1) rotate(0)*/
    /*}*/
/*}*/

/*.bread-nav:hover {*/
    /*animation: move 1s infinite;*/
/*}*/

/*.header .logo:hover {*/
    /*filter: none;*/
/*}*/