.userInfo {
    float: right;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    border-bottom: 1px solid #cccccc;
}

.header .logo {
    transition: all .5s;
    cursor: pointer;
    filter: grayscale(100%);
    vertical-align: middle;
    height: 63px;
    float: left;
}

.header .logo:hover {
    filter: none;
}